@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body {
  background-image: url("images/background.jpg");
  background-size:cover;
  background-attachment: fixed;
  text-align: center;
  margin: auto;
}

h1 {
  color:rgb(8, 245, 8);
}

h2 {
   text-align: center;
   color:white;
}

h3{
  font-size: 25px;
  color:white;
}

h4{
  font-size: 17px;
  display: inline-flex;
  color:white;

}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
  text-align: left;
  margin:10px;
}


.box {
  margin:10px 5px;
  float:left;
}

img {
border-radius: 50%;
margin: 5px 4px;
width:30%;
float:left;
}


.list-inline i{
  font-size: 50px;
}

.list-inline li{
  list-style: none;
  display:inline;
}

i:hover{
  color: rgb(248, 6, 6);
}

.card {
  width: 400px ;
  height:auto;
  background-color:#9d4edd;
  box-shadow: 4px 4px rgb(217, 226, 43);

}

.card-one {
  width: 400px ;
  height:auto;
  background-color:#9d4edd;
  box-shadow: 4px 4px rgb(217, 226, 43);
  position: absolute;
  top: 10px;
  left: 57.5%;
}

.card-two {
  width: 400px ;
  height:90px;
  background-color:#9d4edd;
  box-shadow: 4px 4px rgb(217, 226, 43);
  position: absolute;
  top: 200px;
  left:57.5%;
  margin-top: 8px;
}

.card-three {
  width: 400px ;
  height:auto;
  background-color:#9d4edd;
  box-shadow: 4px 4px rgb(217, 226, 43);
  position: absolute;
  top: 310px;
  left:57.5%;
  margin-top: 4px;
}

.card-four {
  width: 400px ;
  height:auto;
  background-color:#9d4edd;
  box-shadow: 4px 4px rgb(217, 226, 43);
  position: absolute;
  top: 435px;
  left:57.5%;
  margin-top: 4px;
}

.fa{
  width:100px;
  height:10px;
}

.box {
  margin-left:30%;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
